<div class="row">
  <div class="col-md-12">
    <h1>Vocabulary Guessing Game</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h3>Things go here</h3>
  </div>
  <div class="col-md-4"></div>
</div>
