<div class="row">
  <div class="col-md-12">
    <h1>Vocabulary Guessing Game</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <h3>What would you like to do?</h3>
      <a href="/list"><button type="button" class="btn btn-primary" name="button">Check out all words</button></a>
      <a href="/new_entry"><button type="button" class="btn btn-danger" name="button">Add another word</button></a>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>
