<!DOCTYPE html>
<html>
  <head>
    <script src="/js/jquery-3.2.0.js"></script>
    <script src="/js/myscripts.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/mystyle.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
